{{#liquid-if isFileSelected class="action-bar"}}
  <div class="container">
    <a href="{{url}}" target="_blank" type="button" class="btn btn-primary">Preview</a>
    <a href="{{url}}" download="{{name}}" type="button" class="btn btn-primary">Download</a>
  </div>
{{else}}
<div class="container">
  <h1>{{localIp}}</h1>
</div>
{{/liquid-if}}
