<div class="detail-container">
  <div class="top-panel">
    {{link-to 'Back' 'people.find' class="back-btn"}}
  </div>
  <div class="left-panel">
      <div class="profile-pic">
        <img src="{{user.profilePic.link}}" alt="" height="128" width="128" data-profile-email="{{user.email}}"/>
        <h2 class="name">{{user.name}}</h2>
      </div>
  </div>
  <div class="right-panel">
    <div class="profile-content">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-12 control-label align-left">Name</label>
          <div class="col-sm-12">
            <p class="form-control-static">{{user.name}}</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-12 control-label align-left">Location</label>
          <div class="col-sm-12">
            <p class="form-control-static">Bangalore</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-12 control-label align-left">Gender</label>
          <div class="col-sm-12">
            <p class="form-control-static">{{user.gender}}</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-12 control-label align-left">Last Seen</label>
          <div class="col-sm-12">
            <p class="form-control-static">10:41 PM</p>
          </div>
        </div>

        <div class="form-group">
          {{#if isConnected}}
            <div class="btn" id="contact-request">
              Connected
            </div>
          {{else if isPending}}
            <div class="btn" id="contact-request">
              Pending Connect Request
            </div>
          {{else}}
            <div class="btn" id="contact-request" {{action "sendConnectRequest"}}>
              Send Connect Request
            </div>
          {{/if}}
        </div>
      </form>

    </div>
  </div>
</div>
