<div id="people-search-input">
   <div class="input-group col-md-12">
       {{input type="text" value=name class="search-query form-control" placeholder="Search" }}
       <span class="input-group-btn">
           <button class="btn btn-success search-bg" type="button">
               <span class="glyphicon search"></span>
           </button>
       </span>
   </div>
</div>

<div id="peoples" class="tile-wrapper">
  {{#each filteredUsers as |user|}}
  <div class="tile hvr-grow hvr-underline-from-center" {{action 'goToDetail' user}}>
    <img src={{user.profilePic.link}} alt="" height="128" width="128" data-profile-email="{{user.email}}"/>
    <h3 class="name">
      {{user.name}}
    </h3>
  </div>
  {{/each}}
</div>
