<div class="container-fluid">
  {{#if currentUser}}
    {{render 'header-nav'}}
  {{else}}
    <div class="header-banner">
      <img src="images/logo/p2pdrop-logo-128.png" alt="" height="64" width="64" class="logo"/>
      <h4>
        P2PDROP
      </h4>
    </div>
  {{/if}}

  <div class="hero-wrapper">
    {{#if currentUser}}
      {{liquid-outlet class="p2pdrop-liquid-wrapper"}}
    {{else}}
      {{liquid-outlet}}
    {{/if}}
  </div>
</div>
