{{input value=name placeholder='Screen Name'}}
{{input value=email type='email' placeholder='Email'}}
{{input value=password type='password' placeholder='Password'}}
{{input value=passwordConfirmation type='password' placeholder='Password Confirmation'}}

<button id="singup" {{action "signup"}}>
    Sign Up
</button>